
<% provide(:title, 'All employees') %>
<h2>All Employees</h2>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%= link_to "Edit", edit_user_path(user) %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "Are you sure you would like to delete this employee?" } %>
  <% end %>
      <% if user.role == 0 %>
          <p>Director</p>
        <% end %>
        <% if user.role == 1 %>
          <p>Front of House Team Member</p>
        <% end %>
        <% if user.role == 2 %>
          <p>Back of House Team Member</p>
        <% end %>
        <% if user.role == 3 %>
          <p>Manager</p>
        <% end %>
        <% if user.role == 4 %>
          <p>Front of House Shift Leader</p>
        <% end %>
        <% if user.role == 5 %>
          <p>Back of House Shift Leader</p>
        <% end %>
    </li>
  <% end %>
</ul>